server:
  port: 8080

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3307/ecommerce?useSSL=false&serverTimezone=UTC&characterEncoding=utf8
    username: ecommerce
    password: ecommerce

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
